.idea/
__pycache__/
*.pyc
*.pyo
config.py
data/entity_pair_matching_test.txt
data/instance_matching_test.txt
data/re_test.result
data/test.db
data/output
data/sample/
data/answer_set.txt
data/answer_set2.txt
data/prec_recall_per_prop.txt
data/prediction_result.txt
data/feature_matching.txt
data/feature_vector_weight.txt
data/relation_list.txt
data/temp_test.db
data/train.db
data/entity_pair_matching.txt
data/instance_matching.txt
